.card1{
    height: 20rem;
    width:30rem;;
  }

  .y1{
    background-image: url(https://i.postimg.cc/kXsmXRJR/abstract-blur-medical-and-clinic-of-hospital-interior-free-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }